.banniere{
  //display: flex;
  background: url("../images/header_accueil.png") no-repeat center/cover;
  min-height:1000px;

  //align-items: center;
  //justify-content: center;
  //h1{
  //  margin:0;
  //  padding:10px;
  //  font-size: rem(60);
  //  color:$mainRed;
  //  font-weight: $fw-regular;
  //  font-family: $ff-theme;
  //  background-color: rgba(0, 0, 0, 0.5);
  //  border: solid $mainBlue 6px;
  //  border-radius:10px;
  //}

  h2 {
    color: white;
    font-size: 20px ;

    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;

    top: 160px;
    left: 20px;
  }
}

@media (min-resolution: 192dpi){

  .banner{
    background-image: url("../images/cover.jpeg");
  }

}



@media screen and (max-width: $breakpoint-sm) {

  .banner {
    background-image: url("../images/cover_cyfiaq_c_scale,w_918.jpg");
    max-height: 200px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url("../images/cover_cyfiaq_c_scale,w_1019.jpg");
    }

  }
}
@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {

  .banner {
    background-image: url("../images/cover_cyfiaq_c_scale,w_1238.jpg");
    max-height: 400px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url("../images/cover_cyfiaq_c_scale,w_1238.jpg");
    }

  }
}
@media screen and (min-width: $breakpoint-xl)  {

  .banner {
    background-image: url("../images/cover_cyfiaq_c_scale,w_1400.jpg");
    max-height: 600px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url("../images/cover_cyfiaq_c_scale,w_1400.jpg");
    }

  }
}