
.film .affiche, .fiche-film .affiche{
  width: 200px;
}


.liste-acteurs{
  display: flex;
  flex-wrap:wrap;
}

.liste-acteurs img{
  width: 100px;
}

.acteur{
  background-color:$mainGray ;
  margin:20px;
  width:200px;
  height:240px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding:10px;
  border-radius:10px;

  h1{
    color:$gray-300;
  }
}
