.footer{
  height: 80px;
  background-color: $mainGray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h4{
    color:white;
    padding-left: 20px;
  }
}

.material-icons{
  color:white;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: block;
}

.back_to_top:hover {
  background: #e9ebec;
}