//STYLE DE NOTRE HEADER

.header-page {

  background-color: $color-bg-page;
  padding: 10px 0 15px 0;

  nav {

    display: flex;
    justify-content: space-between;
    font-family: $ff-theme;
    font-size: $fz-normal;
    .logo {
      margin: 0 0 5px;

    }
    ul {
      margin: 0;
      padding: 10px 0 0 0;
      list-style: none;

      width: 100%;
      text-align: center;

      li {
        position: relative;

        & > ul {
          display: none;
          background-color: $gray-100;

        }

        &:hover > ul {
          display: block;

        }
      }
    }
  }

}

@media screen and (min-width: $breakpoint-md) {

  .header-page {

    nav {
      flex-direction: row;
      justify-content: space-between;

      a {
        align-items: center;
      }

      .material-icons {
        display: none;
      }
      ul {
        width: auto;
        display: flex;

        a {
          padding: 5px 10px;
        }

        li {
          position: relative;

          & > ul {
            position: absolute;
            top: 110%;

            min-width: 100px;
          }
        }
      }
    }

  }

}