.liste-films{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    flex-basis: 24%;
    padding: 20px;
    margin-bottom:10px;
    border-radius:5px;

    overflow:hidden;
    max-height:900px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainGray;
    position:relative;


    h1{
      text-align:center;
      color: white;
    }

    p{
      color:$gray-500;
      //margin-top:50px;
      //margin-bottom:70px;
      height:150px;
      overflow:hidden;
    }

    a{
      display: flex;
      margin-top:auto;
      color:$gray-300;
      text-decoration: none;
      background-color: $mainGray;
      padding: 5px;
      border-radius: 10px;
      border: solid $gray-300 2px;



      &:hover{
        background-color: $mainBlue;
        color:white;
        border: solid white 2px;
      }
    }

  }

}

@media screen and (max-width: $breakpoint-md){

  article {
    min-width: 300px;
    height: auto;


  }
}

@media screen and (max-width: $breakpoint-sm){

  article{
    min-width: 100%;
    height: auto;

  }
}






